[
    {
        "domain": "x.com",
        "hostOnly": true,
        "httpOnly": false,
        "name": "d_prefs",
        "path": "/",
        "sameSite": null,
        "secure": false,
        "session": true,
        "storeId": null,
        "value": "MToxLGNvbnNlbnRfdmVyc2lvbjoyLHRleHRfdmVyc2lvbjoxMDAw"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1780587321.755169,
        "hostOnly": false,
        "httpOnly": true,
        "name": "auth_token",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "YOUR_AUTH_TOKEN_HERE"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1780587322.036119,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "YOUR_GUEST_ID_HERE"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1794227338.024812,
        "hostOnly": false,
        "httpOnly": false,
        "name": "twid",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "u%3D123456789"
    },
    {
        "domain": "x.com",
        "hostOnly": true,
        "httpOnly": false,
        "name": "lang",
        "path": "/",
        "sameSite": null,
        "secure": false,
        "session": true,
        "storeId": null,
        "value": "en"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1780587322.036197,
        "hostOnly": false,
        "httpOnly": false,
        "name": "ct0",
        "path": "/",
        "sameSite": "lax",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "YOUR_CT0_TOKEN_HERE"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1763704958.889359,
        "hostOnly": false,
        "httpOnly": false,
        "name": "d_prefs",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "MToxLGNvbnNlbnRfdmVyc2lvbjoyLHRleHRfdmVyc2lvbjoxMDAw"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1780587321.754757,
        "hostOnly": false,
        "httpOnly": true,
        "name": "kdt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "YOUR_KDT_TOKEN_HERE"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1782717150.353782,
        "hostOnly": false,
        "httpOnly": false,
        "name": "personalization_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "\"YOUR_PERSONALIZATION_ID_HERE\""
    }
]
